rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /published/az104/{releaseId}/assets/{assetName} {
      allow get: if true;
    }

    match /{path=**} {
      allow read, write: if false;
    }
  }
}
